@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fw-light: 200;
  --fw-regular: 300;
  --fw-bold: 600;
  --fw-black: 900;

  --fs-100: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 2.25rem;
  --fs-900: 3rem;

  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #b0c1c1;
  --clr-neutral-400: #505050;
  --clr-neutral-600: #373737;
  --clr-neutral-900: #303030;

  --clr-accent-400: #29c3e5;
  --clr-accent-600: #167a7a;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

html {
  color-scheme: light;
}

body {
  background-color: var(--clr-white);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.7;
  color: var(--clr-neutral-600);
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: var(--fw-black);
  color: var(--clr-accent-400);
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}

a {
  color: var(--clr-accent-400);
}

/* Composition */
.flow > :where(:not(:first-child)) {
  margin-block-start: 1rem;
}

.flow-lg > :where(:not(:first-child)) {
  margin-block-start: 2rem;
}

.flex-row {
  display: flex;
  gap: 1em;
}

.flex-row-lg {
  display: flex;
  gap: 2em;
}

.grid-stack {
  display: grid;
  gap: 1em;
}

section {
  padding: 5rem 2rem;
}

.section__title {
  font-size: var(--fs-600);
  font-weight: var(--fw-black);
  color: var(--clr-accent-400);
}

.section__title--accent {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0em;
    background: var(--clr-accent-400);
    opacity: 0.25;
  }
}

.section__subtitle {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

/* Utility */

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-black {
  font-weight: var(--fw-black);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-900 {
  font-size: var(--fs-900);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}

.bg-neutral-600 {
  background-color: var(--clr-neutral-600);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.bg-accent-600 {
  background-color: var(--clr-accent-600);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.text-neutral-400 {
  color: var(--clr-neutral-400);
}

.text-neutral-600 {
  color: var(--clr-neutral-600);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-600 {
  color: var(--clr-accent-600);
}

.shadow {
  box-shadow: var(--bs);
}

/* Block */

button,
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  font-size: var(--fs-100);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-black);
  transition: transform 200ms ease-in-out;
  border-style: solid;
  border-width: 0.1em;
  background-color: transparent;
  border-color: var(--clr-accent-400);
  color: inherit;

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    outline: 2px solid var(--clr-accent-400);
    outline-offset: 3px;
  }
}

.button--primary {
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
}

@media (min-width: 800px) {
  section {
    padding: 5rem 5rem;
  }
}

@media (min-width: 1000px) {
  section {
    padding: 5rem 10rem;
  }
}

/* 
.intro,
.projects,
.blogs,
.interests,
.about-me {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: base.$bp-tablet) {
  .intro,
  .projects,
  .blogs,
  .interests,
  .about-me {
    max-width: 90%;
  }
}

@media (min-width: base.$bp-laptop) {
  .intro,
  .projects,
  .blogs,
  .interests,
  .about-me {
    max-width: 80%;
  }
}

@media (min-width: base.$bp-desktop) {
  .intro,
  .interests,
  .about-me {
    max-width: 70%;
  }

  .projects,
  .blogs {
    max-width: 50%;
  }
} */

/* .container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 60rem;
} */

/* // Breakpoints
$bp-small: 600px;
$bp-tablet: 800px;
$bp-laptop: 1000px;
$bp-desktop: 1200px; */

/* @media (min-width: 1000px) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 3.75rem;
    --fs-900: 4.5rem;
  }
} */
