.nav {
  display: flex;
  justify-content: space-between; /* space between logo and links */
  align-items: center; /* center items vertically */
  padding: 1em;
  transition: opacity 250ms cubic-bezier(0.5, 0, 0.5, 1);
  height: 45px;
}

/* Full-screen mobile overlay menu */
.menu {
  display: none; /* hidden by default */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: theme("colors.neutral.900");
  z-index: 100;
}

/* Vertical list */
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.link {
  color: inherit;
  font-weight: 600;
  font-size: 2.25rem; /* larger font size for mobile */
  cursor: pointer;

  &:hover {
    color: theme("colors.accent.400");
  }
}

/* Hamburger */

.toggle {
  padding: 0.5em;
  border: 0;
  cursor: pointer;
  z-index: 1000;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: theme("colors.neutral.100");
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger {
  display: block;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  &::before {
    top: 6px;
  }

  &::after {
    bottom: 6px;
  }
}

.nav[data-expanded="true"] {
  & .menu {
    display: block; /* show the overlay */
  }

  & .hamburger {
    transform: rotate(0.625turn);

    &::before {
      transform: rotate(90deg) translateX(-6px);
    }

    &::after {
      opacity: 0;
    }
  }
}

.nav[data-scrolled="true"] {
  opacity: 0.95;
}

@media (min-width: 600px) {
  /* Desktop menu */
  .menu {
    display: block;
    position: relative;
    flex-grow: 1;
    padding: 0 10%;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    transform: none;
  }

  /* Horizontal list */
  .list {
    flex-direction: row;
    justify-content: space-between;
  }

  .link {
    font-size: 1rem; /* override mobile font size */
  }

  /* Hide hamburger */
  .toggle {
    display: none;
  }
}
