@media (min-width: 800px) {
  .section {
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas:
      "title image"
      "body image";
    grid-column-gap: 2em;
    align-items: center;
  }
  .title {
    margin-inline-start: 0;
    grid-area: title;
  }
  .body {
    grid-area: body;
  }

  .body > p {
    margin-inline-start: 0;
    padding-inline-start: 0;
  }

  .image {
    grid-area: image;
    box-shadow: theme("boxShadow.custom");
  }
}

@media (min-width: 1400px) {
  .section {
    max-width: 66%;
    margin-inline: auto;
  }
}
