.interests {
  display: grid;
  gap: 2em;
  grid-template-areas:
    "cooking"
    "art"
    "travel"
    "reading"
    "running";
}

/* Interest card */
.interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-size: cover;
  background-position: center;
  border: none;
  position: relative;
  color: theme("colors.neutral.100");
  font-weight: theme("fontWeight.regular");
}

/* Overlay for readability */
.interest:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.2s linear;
}

/* Brighten the overlay on hover */
.interest:hover:before {
  background: rgba(0, 0, 0, 0.3);
}

.interest[data-theme="cooking"] {
  grid-area: cooking;
  background-image: url("/interest-cooking.jpg");
}

.interest[data-theme="art"] {
  grid-area: art;
  background-image: url("/interest-art.jpg");
}

.interest[data-theme="travel"] {
  grid-area: travel;
  background-image: url("/interest-travel.jpg");
}

.interest[data-theme="reading"] {
  grid-area: reading;
  background-image: url("/interest-reading.jpg");
}

.interest[data-theme="running"] {
  grid-area: running;
  background-image: url("/interest-running.jpg");
}

.interest :is(h3, p, a) {
  z-index: 1; /* ensure text is on top of the overlay */
}

@media (min-width: 800px) {
  .interests {
    grid-template-areas:
      "cooking cooking"
      "art travel"
      "reading running";
  }
}

@media (min-width: 1400px) {
  .interests {
    max-width: 80%;
    margin-inline: auto;
  }
}
