.roles {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.role {
  text-align: center;
  font-weight: theme("fontWeight.bold");
  text-transform: lowercase;
  font-size: theme("fontSize.300");
}

.image {
  box-shadow: theme("boxShadow.custom");
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  aspect-ratio: 1/1;
}

.body {
  text-align: center;
}

@media (min-width: 800px) {
  .section {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image name"
      "image roles"
      "image body"
      "image actions";
    justify-items: start;
  }

  .image {
    grid-area: image;
    margin-inline-start: auto;
    margin-inline-end: 3rem;
  }

  .title {
    grid-area: name;
    margin-bottom: auto;
    margin-inline-start: 0;
  }

  .roles {
    grid-area: roles;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /* border-left: 5px solid; */
    border-color: theme("colors.neutral.300");
    width: max-content;
    gap: 0;
  }

  .role {
    line-height: 1;
    font-weight: theme("fontWeight.bold");
    font-size: theme("fontSize.600");
    color: theme("colors.neutral.400");
  }

  .body {
    grid-area: body;
    text-align: left;
    margin-inline-start: 0;
  }

  .actions {
    grid-area: actions;
  }
}
